body{
    background-color: #EBDED4;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    font-size: 40px;
}

a{
    font-size: 20px;
}

.painting-1{
    display: grid;
    width: 600px;
    height: 600px;

    border: 1px solid black;
    /*for testing*/

    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cream{
    background-color: #FDF9F1;
}

.red{
    background-color: #FF3532;
}

.blue{
    background-color: #009BCC;
}

.yellow{
    background-color: #FDD900;
}

.border-right{
    border-right: 20px solid #4D4D42;
}

.border-bottom{
    border-bottom: 20px solid #4D4D42;
}